<div class="navbar-custom navbar-custom-dark">
    <div class="logo-box" style="color: #00000000 !important;background: #00000000 !important;background-color: #00000000 !important;">
        <a href="/" class="logo text-center" style="color: #00000000 !important;background: #00000000 !important;background-color: #00000000 !important; margin-top: 15px;">
            <span class="logo-lg" style="color: #00000000 !important;background: #00000000 !important;background-color: #00000000 !important;">
                <img src="/fydnelogo.png" alt="" width="200px" draggable="false" >
            </span>
        </a>
    </div>
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li></li>
        <li><a href="https://fydne.xyz" class="page-title-main text-dark" style="color: #00ffff !important;background: #00000000 !important;background-color: #00000000 !important;">Другой бот</a></li>
        <li><a href="/invite" class="page-title-main text-dark" style="color: #00ffff !important;background: #00000000 !important;background-color: #00000000 !important;">Пригласить бота</a></li>
    </ul>
</div>