<!DOCTYPE html>
<html translate="no">
  <head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    
    <meta property="og:title" content="Error 500" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bot.fydne.xyz" />
    <meta property="og:image" content="https://bot.fydne.xyz/img/qurre_ol.png" />
    <meta property="og:description" content="Бот с функциями для модерирования & прослушивания музыки." />
    <meta name="theme-color" content="#2bff00">
    <link rel="icon" type="image/ico" href="/img/qurre.png" />
    <link rel="stylesheet" href="/css/etc/500.css">
  </head>
  <body translate="no" oncopy="return false;" oncut="return false;" ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;" class="modal-open">
    <div id="console"></div>
  </body>
  <script src="/js/all.js"></script>
  <script src="<%= cdn_host %>/scpsl.store/js/jquery/jquery.min.js"></script>
  <script src="/js/etc/500.js"></script>
</html>